<div class="view-doctor-ranking-container">
    <div class="ranking-content">
        <div class="ranking-content-title">
            <h2>Calificaciones los ultimos 4 meses</h2>
        </div>
        <div class="ranking-content-statistics">
            <div class="ranking-content-star">
                <p>Mes 1: 0 estrellas</p>
                <app-star></app-star>
            </div>
            <div class="ranking-content-star">
                <p>Mes 2: 5 estrellas</p>
                <app-star></app-star>
            </div>
            <div class="ranking-content-star">
                <p>Mes 3: 5 estrellas</p>
                <app-star></app-star>
            </div>
        </div>
    </div>
</div>