
$color-main: #f4f7fa;
$color-secondary: #fff;
$color-text-white: #fff;


*,*::after,*::before {
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-main;
}



.btn-warning {
    color: $color-text-white;
}

.btn-image-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
}

.ntb-find {
    margin-top: 16px;
}

.space-button {
    padding-left: 16px;
}

.container-doctor {
    background: $color-text-white;
    border-radius: 8px;
    padding: 8px;
    &-title {
        padding: 8px 8px 32px 8px;
    }    
    @media screen and (min-width: 650px) {
        padding: 24px;
    }
}
